{% extends "crud/layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}